.user-options
{
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    z-index: 1;

    color: white;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
}
.user-options button
{
    border: none;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}
.user-options button:hover
{
    background-color: grey;
    transition: .1s;
}
.file-loader input::file-selector-button
{
    border: none;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}
.file-loader input::file-selector-button:hover
{
    background-color: grey;
    transition: .1s;
}
.data-container
{
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 1;

    color: white;
    font-size: 12px;

    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);

    width: 300px;
    height: fit-content;
}
.data-container h3
{
    margin: 0;
    height: 20px;
    border-bottom: 1px white solid;
}
.graph-err
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}